/* Global */

* {
    box-sizing: border-box;
}

html, body {
   height: 100%;
   width: 100%;
   margin: 0px;
   padding: 0px;
   /* overflow: auto; */
}

body{
    font-family: Arial, "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #777777;
    background: rgb(58, 56, 56);
    display: flex;
    flex-direction: column;
    overflow: auto;
}

/* global */

.container {
    max-width: 960px;
    margin: 10px auto;
    color: #ffffff;
    line-height: 150%;
}

/* Header */

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: rgb(75, 73, 73);
    border-color: #cccccc 2px solid; 
    /* margin-bottom: 0px; */
    border-bottom: #dddddd 2px solid;
    position: static;
}

.heading{
    max-width: 960px;
    margin: auto;
}

header #top{
    float: left;
    line-height: 80%;
}

header #top h1, h4{
    color: #ffffff
    /* color: #ffffff; */
    /* margin: 0; */
    
}

header a, li {
    text-decoration: none;
    color: #ffffff;
}

i {
    color: #ffffff;
}

nav {
    float: right;
    margin-top: 30px;
    background: rgb(75, 73, 73);
}

ul {
    margin: 0;
    padding: 0;
}

header li{
    display: inline;
    padding: 0 10px 0 10px;
}


header a:hover {
    color: red;
}

.current a{
    color: silver;
}

/* body home */
.content {
    text-align: center;
    color: #ffffff;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(400px, auto);
    grid-gap: 4px;
    max-width: 960px;
    margin: 20px auto; 
    
}

.card {
    cursor: pointer;
}

.card i {
    font-size: 80px;
}

.about {
    background: #b23814;
}

.about i {
    color: #e76037
}

.portfolio {
    background: #0082aa;
}

.portfolio i {
    color: #3cc8f3
}

.resume {
    background: #799b00;
}

.resume i {
    color: #cef34a
}

.contact {
    background: #bf5700;
}

.contact i {
    color: #facc76
}

.interests {
    background: navy;
}

.interests i {
    color: rgb(88, 88, 245)
}

/* about me */

.pic img{
    float: left;
    width: 200px;
    height: 210px;
    padding-right: 20px;
    padding-bottom: 1px;
}

/* portfolio */

.column {
    float: left;
    width: 50%;
    padding: 0 30px 30px 0;
}

.row::after {
    clear: both;
    display: table;
    
}

#pic1 {
    float: left;
    position: relative;
    z-index: 10%;
}

#pic1 img {
    z-index: 10;
    width: 100%;
    
}

#pictext1 {
    width: 100%;
    position: absolute;
    z-index: 51;
    bottom: 10px;
    color: white;
    background: rgb(53, 53, 56);
    opacity: 90%;
    padding: 20px;
    text-align: center;
}

#pictext1 a {
    color: #ffffff
}

/* footer */

footer{
    background: rgb(75, 73, 73);
    text-align: bottom;
    color:#ffffff;
    margin: 0;
    overflow: hidden;
    border-top: #ffffff 2px solid;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 60;
    flex-shrink: 0;
}

.foot p{
    margin-bottom: 0;
    text-align: center;
    padding-bottom: 0px;
}